.body {
    position: relative;
    z-index: 1;
    width: 100%;
    -webkit-text-size-adjust: none;
    background: #eef2fa;
    @extend %reset;
    @extend %noscroll;

    &._selectNode {
        user-select: none;

        * {
            user-select: none;
        }
    }

    &__content {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 44px 0;
        @include media(0, $mediaM) {
            padding: 0 0 20px 0;
        }
    }
}
