@mixin dashedBorder($color) {
    & .dashedBorder__rect {
        stroke: $color;
    }
}

.dashedBorder {
    width: 100%;
    height: 100%;
    @extend %reset;

    &__rect {
        transition: $trans;
        stroke-width: 2;
        stroke-dasharray: 5px;
        stroke: #ff59cf;
        @extend %reset;
    }
}
