.error {
    max-width: 100%;
    height: 100%;
    padding: 4px 8px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    background: #000;
    border-radius: 8px;
    @extend %reset;
}
