.field {
    width: 100%;
    @extend %reset;

    &._main {
        height: 100%;
    }

    &__support {
        margin-bottom: 4px;
        color: $colorDark;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        @extend %reset;
        @include media(0, $mediaM) {
            font-size: 16px;
            line-height: 23px;
        }
    }

    &__box {
        position: relative;
        width: 100%;
        height: 60px;
        @extend %reset;
        @include media(0, $mediaM) {
            height: 56px;
        }
    }

    &._upload &__box {
        height: auto;

        @include media(0, $mediaM) {
            height: auto;
        }
    }

    &._main &__box {
        height: 100%;
    }

    &__input {
        width: 100%;
        height: 100%;
        padding: 18px 20px;
        color: $colorDark;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.3;
        background: #fff;
        border: 2px solid #ffdaf7;
        border-radius: 16px;
        transition: $trans;
        @extend %reset;

        @include media(0, $mediaM) {
            padding: 18px 16px;
            font-size: 16px;
            border-radius: 12px;
        }
    }

    &:not(._completed) &__input:focus {
        border-color: $colorDark;
    }

    &._completed &__input {
        border-color: #32d47d;
    }

    &._center &__input {
        text-align: center;
    }

    &._area &__input {
        padding: 20px;
        resize: none;
    }

    &__list {
        position: absolute;
        top: 100%;
        z-index: 2;
        width: 100%;
        max-height: 154px;
        margin-top: 5px;
        overflow-y: auto;
        background: #fff;
        border: 2px solid #ffdaf7;
        border-radius: 16px;
        transition: $trans;
        @extend %reset;

        @include media(0, $mediaM) {
            border-radius: 12px;
        }

        &:not(._show) {
            transform: translate(0, 10px);
            opacity: 0;
            pointer-events: none;
        }

        &Inner {
            width: 100%;
            padding: 20px;
            @extend %reset;

            @include media(0, $mediaM) {
                padding: 16px;
            }
        }

        &Items {
            width: 100%;
            @extend %reset;
        }

        &Item {
            width: 100%;
            color: $colorDark;
            font-size: 20px;
            line-height: 1.3;
            transition: $trans;
            @extend %reset;
            @extend %click;

            @include media(0, $mediaM) {
                font-size: 16px;
            }

            &:hover {
                opacity: 0.5;
            }

            & + & {
                margin-top: 12px;
            }

            & span {
                color: #7d24ff;
            }
        }
    }
}
