@font-face {
    font-weight: 400;
    font-family: "Ys";
    font-style: normal;
    src: local("Ys"), url("../fonts/ys/Regular.ttf");
}

@font-face {
    font-weight: 500;
    font-family: "Ys";
    font-style: normal;
    src: local("Ys"), url("../fonts/ys/Medium.ttf");
}

@font-face {
    font-weight: 700;
    font-family: "Ys";
    font-style: normal;
    src: local("Ys"), url("../fonts/ys/Bold.ttf");
}

@font-face {
    font-weight: 700;
    font-family: "YsC";
    font-style: normal;
    src: local("YsC"), url("../fonts/ys/CondBold.ttf");
}
