.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @extend %reset;

    &__logo {
        width: 162px;
        margin-bottom: 44px;
        @extend %reset;
        @include media(0, $mediaM) {
            margin-bottom: 20px;
        }
    }

    &__inner {
        position: relative;
        z-index: 1;
        width: 100%;
        margin-bottom: 64px;
        overflow: hidden;
        border-radius: 36px;
        @extend %reset;
        @include media(0, $mediaM) {
            margin-bottom: 32px;
            border-radius: 24px;
        }
    }

    &__head {
        position: relative;
        z-index: 1;
        display: flex;
        width: 100%;
        height: 310px;
        padding-bottom: 80px;
        @include bg("../media/prize-back.jpg", cover, center);
        @extend %reset;
        @include media(0, $mediaM) {
            height: 240px;
            @include bg("../media/prize-back-mob.jpg", cover, center);
        }
    }

    &__content {
        position: relative;
        position: relative;
        z-index: 2;
        width: 100%;
        margin-top: -80px;
        padding: 44px 72px;
        background: #fff;
        border-radius: 36px;
        @extend %reset;
        @include media(0, $mediaM) {
            padding: 32px 16px;
            border-radius: 28px;
        }
    }

    &__loader {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 200px;
        @include loaderColor(#000);
        &Item {
            width: 32px;
            height: 32px;
        }
    }

    &__foot {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 656px;
        @extend %reset;

        @include media(0, $mediaM) {
            max-width: 100%;
            padding: 0 16px;
        }

        &Title {
            max-width: 100%;
            margin-bottom: 36px;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
            @extend %reset;
            @include media(0, $mediaM) {
                max-width: 288px;
            }

            & a {
                display: inline-block;
                color: #000;
                line-height: 0.9;
                border-bottom: 1px solid rgba(#000, 0.9);
                @extend %reset;
            }
        }
        &Text {
            max-width: 100%;
            color: rgba(#171a24a3, 0.64);
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            @extend %reset;
        }
    }
}
