.select {
    position: relative;
    width: 100%;
    height: 100%;
    @extend %reset;

    &__view {
        position: relative;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 18px 20px;
        border: 2px solid #ffdaf7;
        border-radius: 16px;
        @extend %reset;
        @extend %row;
        @extend %click;
        @include button(0.98);

        @include media(0, $mediaM) {
            padding: 18px 16px;
            border-radius: 12px;
        }

        &Value {
            width: 100%;
            color: $colorDark;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.3;
            @extend %reset;

            @include media(0, $mediaM) {
                font-size: 16px;
            }
        }

        &Icon {
            position: absolute;
            top: 50%;
            right: 20px;
            width: 14px;
            height: 14px;
            transform: translate(0, -50%);
            transition: $trans;
            @extend %reset;
            @include icon($colorDark);

            @include media(0, $mediaM) {
                right: 16px;
                width: 14px;
                height: 14px;
            }
        }
    }

    &._active &__viewIcon {
        transform: translate(0, -50%) rotate(180deg);
    }

    &__list {
        position: absolute;
        top: 100%;
        z-index: 2;
        width: 100%;
        max-height: 154px;
        margin-top: 5px;
        padding: 20px;
        overflow-y: auto;
        background: #fff;
        border: 2px solid #ffdaf7;
        border-radius: 16px;
        transition: $trans;
        @extend %reset;

        @include media(0, $mediaM) {
            margin-top: 2px;
            padding: 16px;
            border-radius: 12px;
        }

        &:not(._show) {
            transform: translate(0, 4px);
            opacity: 0;
            pointer-events: none;
        }

        &Item {
            width: 100%;
            color: $colorDark;
            font-size: 20px;
            line-height: 1.3;
            transition: $trans;
            @extend %reset;
            @extend %click;

            @include media(0, $mediaM) {
                font-size: 16px;
            }

            &:hover {
                opacity: 0.5;
            }

            & + & {
                margin-top: 12px;
            }

            & span {
                color: #7d24ff;
            }
        }
    }
}
