.upload {
    position: relative;
    z-index: 1;
    width: 100%;
    @extend %reset;
    @include button(0.98);

    @keyframes runStroke {
        0% {
            stroke-dashoffset: 0;
        }

        100% {
            stroke-dashoffset: 100%;
        }
    }

    &__input {
        display: none;
    }

    &__back {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        pointer-events: none;
        @extend %reset;

        & .dashedBorder__rect {
            stroke: #7d24ff;
        }
    }

    &._over .dashedBorder__rect {
        stroke: #c7a1ff;
    }

    &:hover .dashedBorder__rect {
        animation: runStroke 7s infinite linear;
    }

    &__content {
        position: relative;
        z-index: 1;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 160px;
        padding: 32px;
        background: #fff;
        border-radius: 16px;
        @extend %reset;
        @extend %click;
        @extend %col;
    }

    &__icon {
        width: 24px;
        height: 24px;
        margin-bottom: 6px;
        @extend %reset;
        @include icon(#000);
    }

    &__description {
        max-width: 100%;
        color: #000;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3;
        text-align: center;
        @extend %reset;
    }

    &__over {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #e3ebff, #ffe0fb);
        border-radius: 16px;
        transition: $trans;
        @extend %reset;
        @extend %col;

        &:not(._show) {
            opacity: 0;
        }
    }

    &__over &__description {
        color: $colorDark;
    }

    &__result {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 2.5rem;
        transition: $trans;
        @extend %reset;
        @extend %col;

        &:not(._show) {
            opacity: 0;
        }

        &Files {
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            margin-bottom: 8px;
            @extend %reset;
            @extend %row;
        }

        &Files &File {
            margin: 0 4px 8px 4px;
        }

        &File {
            align-items: center;
            margin-bottom: 14px;
            @extend %reset;
            @extend %row;

            &Name {
                display: block;
                max-width: 300px;
                padding: 4px 10px;
                overflow: hidden;
                color: #fff;
                font-weight: 500;
                font-size: 16px;
                line-height: 23px;
                white-space: nowrap;
                text-overflow: ellipsis;
                background: #000;
                border-radius: 8px;
                @extend %reset;
            }
        }

        &Btn {
            align-items: center;
            color: $colorDark;
            font-size: 16px;
            @extend %reset;
            @extend %click;
            @extend %row;

            &Icon {
                width: 18px;
                height: 18px;
                margin-top: -3px;
                margin-right: 8px;
                @extend %reset;
                @include icon($colorDark);
            }
        }
    }
}
